/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_background__P1O1k {
    width: 100%;
    min-height: 100vh;
    background-image: url('/back2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_transparencia__WMo0D {
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.page_container__zagmD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    height: 100%;
}

.page_card__wnoHP {
    background-color: #ffffffe3;
    border-radius: 6.5rem;
    box-shadow: 30px 30px 30px rgb(0, 0, 0);
    overflow: hidden;
    height: auto;
    max-width: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    transition: box-shadow 0.3s ease;
}

.page_imgContainer__JafR7 {
    display: flex;
}

.page_imgLogin__oJcU_ {
    width: 40rem;
    height: 40rem;
}

.page_conteudo__aBDvu {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_login__2LkZO {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2.2rem;
}

.page_inputField__5TR9i {
    width: 100%;
    max-width: 80%;
    height: 4.6rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.page_inputField__5TR9i::placeholder {
    color: #999;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;

}

/* Remove as setas do input de número */
.page_conteudo__aBDvu input[type=number]::-webkit-outer-spin-button,
.page_conteudo__aBDvu input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page_passwordContainer__8Nszz {
    position: relative;
    width: 100%;
}

.page_eyeIcon__ZueyN {
    position: absolute;
    right: 60px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    font-size: 2rem;
}

.page_cadastre__OUnCQ {
    color: #FF735C;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page_esqueceuSenha__hwYPY {
    color: #FF735C;
    font-weight: 400;
    font-size: 1.2rem;
}

.page_cadastre__OUnCQ a,
.page_esqueceuSenha__hwYPY a {
    color: #FF735C;
    text-decoration: underline;
}

.page_loginButton__cpRki {
    height: 4rem;
    padding: 0.7rem 3rem;
    margin: 2.5rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

.page_loginButton__cpRki:hover {
    opacity: 0.5;
    transition: 0.5s;
}




.page_errorMessage__yyOge {
    /* visibility: hidden;  */
    /* display: none; */
    color: #e74c3c;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

.page_login__2LkZO:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: #B71C1C;
}

.page_inputField__5TR9i.page_error__oj9FT {
    border-color: #e74c3c;
}
