.background {
  width: 100%;
  height: 100vh;
  background-image: url('/back3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transparencia {
  background-color: rgba(255, 255, 255, 0.096);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

.titulo {
  color: #000;
}

.conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.card {
  background-color:  #ffffffe3;
  border-radius: 6.5rem;
  box-shadow: 30px 30px 30px rgb(0, 0, 0);
  overflow: hidden;
  height: auto;
  max-width: 65%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  transition: box-shadow 0.3s ease;
}

.header {
  text-align: center;
  margin-top: 5rem;
}

.header h1 {
  font-weight: 700;
  font-size: 3.6rem;
}

.header p {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.editarEdi {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  justify-content: end;
}

.tpicon {
  margin-right: 0.313rem;
}

.perfilButton {
  height: 4rem;
  padding: 0.7rem 3rem;
  margin: 1.25rem 0;
  background-color: #fdfcfc;
  color: rgb(5, 5, 5);
  border: 1px #000 solid;
  border-radius: 1.875rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.perfilButton:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.main {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.contato {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0.938rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  gap: 0.625rem;
  padding: 1.25rem;
  box-sizing: border-box;
}

.imgContato {
  margin-top: 10px;
  height: auto;
  width: 20%;
}

.inputMargin {
  /* margin: 1rem; */
  margin-left: 3rem;
  margin-right: 3rem;
  flex: 1;
}

.titleSuperior {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.inputField input[type="file"] {
  display: none;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup form {
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 0.8rem 2rem;
  margin: 0.313rem 0;
  border: 1px solid #ccc;
  border-radius: 1.875rem;
  box-sizing: border-box; 
  font-size: 1.4rem; 
  line-height: 1.6;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.infosInput {
  height: 12.5rem;
  resize: vertical;
  margin-top: 0;
}

.inputFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.editar {
  margin-top: 1.5rem;
  margin-right: 3rem;
  flex-shrink: 0;
}

.saveButton {
  height: 4rem;
  padding: 0.7rem 3rem;
  margin: 1.25rem 0;
  background-color: #FF735C;
  color: white;
  border: none;
  border-radius: 1.875rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  flex-shrink: 0;
  width: auto;
}

.saveButton:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.editarb {
  /* display: flex; */
  /* justify-content: flex-end; */
  position: absolute;
  top: 10px;
  right: 10px;
  /* width: 96%; */
  /* margin: 2rem; */
  /* margin-right: 2rem; */
}

.sairMenuGrande {
  padding: 1rem 3rem;
  background-color: #FFF;
  border: 1px red solid;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sairMenuGrande {
  color: red;
  cursor: pointer;
}

.tpiconSair {
  margin-right: 0.313rem;
  color: red;
}

.membrosContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  margin-bottom: 3rem;
}

.membros {
  text-align: justify;
  margin: 2rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.imagemFlutuante {
  float: left;
  margin: 0.45rem 0.8rem 0.2rem 0;
  width: 9rem;
  border-radius: 0.7rem;
  height: auto;
}

.nome {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

.suporte {
  margin-bottom: 3rem;
}

.email {
  color: #FF735C;
  text-decoration: underline;
}