/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_background__odxEk {
  width: 100%;
  height: 100vh;
  background-image: url('/back3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_transparencia__58hW3 {
  background-color: rgba(255, 255, 255, 0.096);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

.page_titulo__k5evp {
  color: #000;
}

.page_conteudo__SttMN {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.page_card__QV0Om {
  background-color:  #ffffffe3;
  border-radius: 6.5rem;
  box-shadow: 30px 30px 30px rgb(0, 0, 0);
  overflow: hidden;
  height: auto;
  max-width: 65%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  transition: box-shadow 0.3s ease;
}

.page_header__kVzhN {
  text-align: center;
  margin-top: 5rem;
}

.page_header__kVzhN h1 {
  font-weight: 700;
  font-size: 3.6rem;
}

.page_header__kVzhN p {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.page_editarEdi__JQvFg {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  justify-content: flex-end;
}

.page_tpicon__QlQ5J {
  margin-right: 0.313rem;
}

.page_perfilButton___DF8n {
  height: 4rem;
  padding: 0.7rem 3rem;
  margin: 1.25rem 0;
  background-color: #fdfcfc;
  color: rgb(5, 5, 5);
  border: 1px #000 solid;
  border-radius: 1.875rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.page_perfilButton___DF8n:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.page_main__GlU4n {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.page_contato__Yqxt5 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0.938rem;
  text-align: center;
}

.page_container__aoG4z {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  gap: 0.625rem;
  padding: 1.25rem;
  box-sizing: border-box;
}

.page_alinhamento__hWNHI {
  display: flex;
  flex-wrap: wrap;
}

.page_Item__e83rV {
  width: 100%;
  max-width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  box-sizing: border-box;
  background: #FFF;
  padding: 0.25rem;
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.288);
  margin: 0.3rem;
}

.page_Title__7V8Nr {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 0.5rem;
  color: #000;
}

.page_Description__MFy4l {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.page_inputMargin__k02P2 {
  /* margin: 1rem; */
  margin-left: 3rem;
  margin-right: 3rem;
  flex: 1 1;
}

.page_titleSuperior__6z5eW {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.page_inputField__5Rb24 input[type="file"] {
  display: none;
}

.page_inputContainer__8v5CU {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page_inputGroup__LAwbK {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page_inputGroup__LAwbK form {
  width: 100%;
}

.page_inputField__5Rb24 {
  width: 100%;
  padding: 0.8rem 2rem;
  margin: 0.313rem 0;
  border: 1px solid #ccc;
  border-radius: 1.875rem;
  box-sizing: border-box; 
  font-size: 1.4rem; 
  line-height: 1.6;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page_infosInput__VdPBA {
  height: 12.5rem;
  resize: vertical;
  margin-top: 0;
}

.page_inputFlex__CrN3w {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.page_editar__NhQrj {
  margin-top: 1.5rem;
  margin-right: 3rem;
  flex-shrink: 0;
}

.page_saveButton__G3QNO {
  height: 4rem;
  padding: 0.7rem 3rem;
  margin: 1.25rem 0;
  background-color: #FF735C;
  color: white;
  border: none;
  border-radius: 1.875rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  flex-shrink: 0;
  width: auto;
}

.page_saveButton__G3QNO:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.page_editarb___Fk2d {
  /* display: flex; */
  /* justify-content: flex-end; */
  position: absolute;
  top: 10px;
  right: 10px;
  /* width: 96%; */
  /* margin: 2rem; */
  /* margin-right: 2rem; */
}

.page_sairMenuGrande__BlYTc {
  padding: 1rem 3rem;
  background-color: #FFF;
  border: 1px red solid;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_sairMenuGrande__BlYTc {
  color: red;
  cursor: pointer;
}

.page_tpiconSair__XNKdh {
  margin-right: 0.313rem;
  color: red;
}

.page_membrosContainer__9_qKl {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  margin-bottom: 3rem;
}

.page_membros__ZUgn0 {
  text-align: justify;
  margin: 2rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.page_imagemFlutuante__qWeGQ {
  float: left;
  margin: 0.45rem 0.8rem 0.2rem 0;
  width: 9rem;
  border-radius: 0.7rem;
  height: auto;
}

.page_nome__jzWQR {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

.page_suporte__hkJTi {
  margin-bottom: 3rem;
}

.page_email__xbX5u {
  color: #FF735C;
  text-decoration: underline;
}

.page_divInput__X3duN {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

 .page_divRadio__RYEoz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.page_small__RgsZM {
  /* visibility: hidden;  */
  /* display: none; */
  color: #e74c3c;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.page_select__MPBgi {
  padding: 0 1rem;
  width: 90%;
  font-size: 1.4rem;
  height: 5rem;
  border-radius: 1rem;
  border: 2px solid #7F0000;
  color: #7F0000;
  text-align: center;
}

.page_select__MPBgi option:focus {
  color: #FAFAFA;
  background-color: #7F0000;
}

.page_select__MPBgi:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.page_input___cVLA:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border-color: #B71C1C;
}

/* Error and Success */
.page_formControl__Cagyg.page_success__Xb9nl input {
  border-color: #2ecc71;
}

.page_formControl__Cagyg.page_error__Jil8M input {
  border-color: #e74c3c;
}

.page_formControl__Cagyg.page_success__Xb9nl .page_divInput__X3duN .page_sucesso__o9sGP {
  /* visibility: visible; */
  display: block;
}

.page_formControl__Cagyg.page_error__Jil8M .page_divInput__X3duN .page_erro__1K9nM {
  display: block;
  /* visibility: visible; */
}

.page_formControl__Cagyg.page_error__Jil8M small {
  /* visibility: visible; */
  display: block;
}

.page_formControl__Cagyg.page_success__Xb9nl .page_divInput__X3duN select {
  border-color: #2ecc71;
}

.page_formControl__Cagyg.page_error__Jil8M .page_divInput__X3duN select {
  border-color: #e74c3c;
}

.page_sucesso__o9sGP {
  /* position: absolute;
      right: 20%;  */
  display: none;
  margin-left: 0.5rem;
  font-size: 2.7rem;
  color: #2ecc71;
}

.page_erro__1K9nM {
  /* visibility: hidden; */
  display: none;
  margin-left: 0.5rem;
  font-size: 2.7rem;
  color: #e74c3c;
}
